$white: #fff !default;
$black: #000 !default;

@mixin tag($height: 30px, $bg: false) {
  $sub-height: $height * 0.75;

  @if $bg {
    background-color: $bg;
  }

  display: inline-block;
  padding-left: $height * 0.57;
  line-height: $height;
  border-radius: $height / 2;

  a {
    box-sizing: content-box;
    display: inline-block;

    height: 100%;
    padding-left: 6px;
    width: $height;
  }

  a::after {
    @if $bg {
      background-color: darken($bg, 5%);
    }

    content: '×';
    display: inline-block;

    text-align: center;

    margin: ($height - $sub-height) / 2;
    height: $sub-height;
    width: $sub-height;
    line-height: $sub-height;

    border-radius: 50%;
  }

  a:hover {
    cursor: pointer;

    &::after {
      background-color: darken($bg, 10%);
    }
  }
}

@mixin fade-in {
  animation: fade-in 0.25s ease;
}

@mixin spacing($spacing: 3px) {
  margin: $spacing;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@function contrasting-fg-color($bg) {
  @if lightness($bg) > 50 {
    @return $black;
  } @else {
    @return $white;
  }
}

@mixin flat-button($color, $size: 18px, $weight: 100) {
  position: relative;
  background-color: transparent;
  font-size: $size;
  font-weight: $weight;
  padding: 5px 10px;
  transition: all 0.25s ease;

  border: 1px solid $color;
  color: $color;
  border-radius: 3px;

  &:hover {
    background-color: $color;
    cursor: pointer;
    color: contrasting-fg-color($color);
  }
}

@mixin reset($font-family...) {
  // scss-lint:disable SingleLinePerSelector
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  // scss-lint:enable SingleLinePerSelector

  html {
    box-sizing: border-box;

    @if $font-family {
      font-family: $font-family;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }
}
